@use "sass:math";

////////////////////
// インナー幅と余白設定
////////////////////
$inner: 1215px;
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////
$base-font: "Noto Sans JP", sans-serif;

////////////////////
// 色の指定
////////////////////
$black: #000;
$white: #fff;

////////////////////
// z-indexの指定
////////////////////
$z-index-header: 900;

////////////////////
// グローバルスタイル
////////////////////
body {
  background-color: $white;
}