<!DOCTYPE html>
<html lang="ja">
<%- include(ejsPath + '/common/_head' , { baseUrl: baseUrlPath, page: page.pageData.top }) %>

  <body>
    <%- include(ejsPath + '/common/_header' ) %>
      <main>
        testtestaaa
      </main>
      <%- include(ejsPath + '/common/_footer' ) %>
  </body>

</html>